            /* common */
body {
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section {
    margin-bottom: 100px;
}
            /* banner start*/
.banner {
    background-image: url(../images/donation.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.banner-inner {
    width: 60%;
    margin: 0 auto;
    padding-top: 180px;
}
.banner-inner h1 {
    font-size: 65px;
    color: white;
}
.banner-inner p {
    font-size: 18px;
    color: white;
    padding: 0 60px;
}
.common-button {
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: #ff5959;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;    
}
            /* banner end */

            /* donate today section start */
.donate-today {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.donate-today h1 {
    font-size: 45px;
}
.donate-today p {
    padding: 0 15%;
}
.amount {
    display: flex;
}
.amount h3 {
    margin: 20px auto;
    padding: 20px 30px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
}
.amount h3:hover {
    border: 2px solid #ff5959;
}
.donation-from input {
    width: 50%;
    height: 50px;
    padding: 0 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

            /* donate today section end */